.remove-btn {
  background-color: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
  color: #ff0000; 
  text-align: left;
}

.fa-times {
  cursor: pointer;
  transform: scale(2, 2);
  margin-left: 10%;
}

article {
  margin-top: 2%;
  padding-top: 2%;
}

span {
  opacity: 0;
  transition: all 0.4s ease;
}

span.fade {
  opacity: 1;
}