:root {
    --primary: #d81b60;
  }

.remove-btn {
    width: 15px;
    height: 20px;
    /* margin-top: 10px; */
    margin: auto;
    background: #d81b60;
    border-color: #d81b60;
    text-align: center;

}

article {
  margin-top: 2%;
  padding-top: 2%;
}